html {
  font-size: 4px; // * 1rem = 4px  方便unocss计算：在unocss中 1字体单位 = 0.25rem，相当于 1等份 = 1px
}

body {
  padding: 0;
  margin: 0;
}

.markdown-body table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre, .markdown-body details {
  margin-top: 0;
  margin-bottom: 16px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body table tr {
  background-color: #ffffff;
  border-top: 1px solid  hsla(210,18%,87%,1);
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-body table th, .markdown-body table td{
  padding: 6px 13px;
    border: 1px solid #d0d7de;
}
